doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title YM DIGI
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/font.css")
        link(rel="icon" href="favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
    body
        #hellopreloader
            #hellopreloader_preload
        header.header#top
            .container
                img(src="img/logo.svg", alt="ym digi")
                nav.nav
                    ul.menu
                        li.menu__list 
                            a.menu__hreff(href="#top") Home 
                        li.menu__list 
                            a.menu__hreff(href="#about") About Us  
                        li.menu__list 
                            a.menu__hreff(href="#service") Service
                        li.menu__list 
                            a.menu__hreff(href="#") Contact 
        section.baner
            .container
                img(src="img/baner.jpg" alt="marketing").baner__img

        section.aboutus#about 
            .container 
                .flag__container 
                    .flag 
                        h2 About Us
                .about__container 
                    .about__info 
                        p.about__paragraf Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quae natus laudantium iure eos culpa, excepturi repellendus veritatis, quis illum porro a rerum exercitationem nihil earum libero itaque, explicabo commodi.
                    .about__info 
                        p.about__paragraf Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque delectus veniam eaque fuga facilis eos, quasi odit beatae maxime fugit dolor perferendis nostrum, consequuntur neque odio suscipit itaque corrupti tempora.
                    .about__info
                        p.about__paragraf Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque delectus veniam eaque fuga facilis eos, quasi odit beatae maxime fugit dolor perferendis nostrum, consequuntur neque odio suscipit itaque corrupti tempora.

        section.service#service
            .container
                .flag__container 
                    .flag 
                        h2 Service
                .service__container
                    .service__img
                        img.seo(src="img/service/seo.png", alt="seo")
                        p.service__img_description seo text
                    .service__img
                        img.smm(src="img/service/smm1.png", alt="smm")
                        p.service__img_description smm text
                    .service__img
                        img.youtube(src="img/service/youtube.jpg", alt="youtube")
                        p.service__img_description youtube text
                    .service__img
                        img.facebook(src="img/service/facebook_ads.jpg", alt="facebook")
                        p.service__img_description facebook text
                    .service__img
                        img.google(src="img/service/google_ads.jpg", alt="google")
                        p.service__img_description google text



        script(src="https://code.jquery.com/jquery-3.5.1.min.js") 
        script(src="js/main.js")
