doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Нуюхай бебру
        link(rel="stylesheet", href="css/style.css")
    body.body
        h1.bebra Нюхай бебру
        h2.bebra Нюхай бебру
        h3.bebra Нюхай бебру
        h4.bebra Нюхай бебру
        h5.bebra Нюхай бебру