@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap');
html{
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 100;
}
p{
    font-family: 'Inconsolata';
}
h1,h2,h3,h4,h5,h6{
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 3px;
}